/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Base CSS */
body {
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 50px 0;
}

.section_title {
    font-size: 3em;
    text-align: center;
    margin: 30px 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.site_title {
    font-size: 36px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

ul li {list-style: none;float: left;margin-left: 30px;font-weight: 600;}

ul li a {
    text-decoration: none;
    color: #000;
}

.nav_icon i {
    margin-left: 20px;
    font-size: 25px;
}

ul li a:hover {
    color: #9d9b9b;
}

/* Banner Sections */
.banner {
    display: flex;
    justify-content: space-around;
    margin: 0 140px;
}

header:hover .banner_photo img {
    transform: scale(1.2) rotate(360deg);
    overflow: hidden;
    transition: transform ease-in-out 2s;
}

.banner_title {
    font-size: 52px;
    line-height: 70px;
}


.regular_btn {
    background-color: #e02c6d;
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    border-radius: 20px;
}

.banner_info p {
    width: 75%;
    margin-bottom: 40px;
}

/* Populer Collections */
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.product {
    width: 330px;
    height: 490px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}

.product_image img {
    width: 100%;
    border-radius: 10px;
}

.product_details h2 {
    font-size: 28px;
    font-weight: 500;
}

.product_details h3 {
    font-size: 24px;
    font-weight: 400;
}

.review span, .product_details p {
    color: gray;
}

.review {
    color: #fb8200;
}

/* Service Area */
.services{
    display: flex;
    justify-content: center;
}
.service {
    width: 362px;
    height: 309px;
    border: 2px solid brown;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

}

.service_photo img {
    width: 100%;
    border-radius: 5px;
}

.service_details {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 10px 10px;
    background: #fff;
    height: 309px;
    opacity: .7;
    border-radius: 5px;
    display: none;
}

.service_details h4 {
    text-align: center;
    background: #d1c4c4;
    padding: 5px;
    border-radius: 5px;
    font-size: 40px;
}

.service:hover .service_details {
    display: block;
}
.service:hover .service_photo{
    transform: scale(1.5) rotate(360deg) ;
    transition: transform 2s ease-in-out;
}


/* Footer CSS */
footer {
    background-color: #0a0826;
    color: #D9DBE1;
    text-align: center;
    padding: 20px 0;
}

.footer_title {
    color: #fff;
    font-size: 36px;
}

.footer_icon {
    font-size: 32px;
    color: #fff;
}




/*--------------------------
        Media Query Css 
--------------------------*/

/* Mobile Device */
@media only screen and (max-width:688px) {

    .mainmenu {
        display: none;
    }
    .section_title {
        font-size: 2em;
    }

    .products {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner {
        display: block;
        margin: 0 16px;
        padding: 0;
    }

    .banner_info {
        text-align: center;
        margin-bottom: 50px;
    }

    .banner_info p {
        width: 100%;
    }

    .banner:hover .banner_photo img {
        transform: scale(1.1) rotate(360deg);
    }

    .banner_photo img {
        width: 100%;
    }

    .services {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Tablet Device */
@media only screen and (min-width:689px) and (max-width:992px) {

    .mainmenu {
        display: none;
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .product {
        width: 290px;
    }

    .banner {
        align-items: center;
        padding: 0;
        margin: 0 20px;
    }

    .banner_info p {
        width: 100%;
    }

    .banner_info {
        width: 300px;
    }

    .banner_title {
        font-size: 36px;
        line-height: 50px;
    }

    .banner_photo {
        width: 300px;
    }

    .banner_photo img {
        height: 250px;
        padding-top: 50px;
    }

    .services {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .service {
        width: 320px;
        height: 273px;
    }
}